.link {
  text-decoration: none;

  h4 {
    color: black;
  }
}

.day {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

  .city-title {
    margin-top: 25px;
  }

  h4 {
    color: #716a6a;
  }

}
